<!DOCTYPE html>

<html>
    <head>
        <title>Tic Tac Toe</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles.css">
    </head>

    <body>
        <header>
            <h1 id="header-title">TIC TAC TOE</h1>
        </header>

        <main id="game-container">
            <div id="gameboard" class="blur">
                <div class="gameboard-cell" data-positionX=0 data-positionY=0></div>
                <div class="gameboard-cell" data-positionX=1 data-positionY=0></div>
                <div class="gameboard-cell" data-positionX=2 data-positionY=0></div>
                <div class="gameboard-cell" data-positionX=0 data-positionY=1></div>
                <div class="gameboard-cell" data-positionX=1 data-positionY=1></div>
                <div class="gameboard-cell" data-positionX=2 data-positionY=1></div>
                <div class="gameboard-cell" data-positionX=0 data-positionY=2></div>
                <div class="gameboard-cell" data-positionX=1 data-positionY=2></div>
                <div class="gameboard-cell" data-positionX=2 data-positionY=2></div>
            </div>

            <div class="menu">
                <h2 id="menu-title"></h2>
                <div id="menu-content"></div>
            </div>
        </main>

        <script src="../static/js/tictactoe.js"></script>
    </body>
</html>