body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gameboard {
    height: 510px;
    width: 510px;
    background-color: lightgray;
    border: 2px black solid;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    filter: blur(2px);
}

.gameboard-cell {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}
