body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: lightcyan;
}

#game-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-aspect-ratio: 500/667) {
    #game-container {
        width: 92vw;
        height: 92vw;
        font-size: 18vw;
    }
}

@media (min-aspect-ratio: 512/683) {
    #game-container {
        width: 70vw;
        height: 70vw;
        font-size: 14vw;
    }
}

@media (min-aspect-ratio: 4/3) {
    #game-container {
        width: 45vw;
        height: 45vw;
        font-size: 8vw;
    }
}

@media (min-aspect-ratio: 71/40) {
    #game-container {
        width: 32vw;
        height: 32vw;
        font-size: 6.5vw;
    }
}

#gameboard {
    height: 100%;
    width: 100%;
    background-color: #333;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.gameboard-cell {
    border: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    user-select: none;
}

.x-mark-color {
    color: #F83083;
}

.o-mark-color {
    color: #0FF696;
}

.menu {
    position: absolute;
    height: 65%;
    width: 80%;
    background-color: lightgray;
    border: 2px white solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(34, 34, 34, 0.8);
}

#menu-title{
    font-size: 0.33em;
    margin: 0.4em 0px;
}

#menu-content {
    font-size: 0.3em;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#player-name-form {
    width: 100%;
}

#form-controls {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

#form-controls > li {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em 0px;
    font-size: 0.7em
}

#form-controls > li > input {
    width: 100%;
    font-size: 0.8em;
}

#form-controls > li > button {
    font-size: 0.8em;
    padding: 0.5em;
}

#form-controls > li > label {
    margin-bottom: 0.5em;
}

.gamemode-selection > button {
    width: 6em;
    padding: 0.4em;
    font-size: 0.8em;
}

.game-result > button {
    font-size: 0.6em;
    padding: 0.5em;
}

.hidden {
    display: none;
}

.blur {
    filter: blur(2px);
}

.disabled-pointer-events {
    pointer-events: none;
}

#turn-info {
    width: 100%;
    height: 10%;
    position: absolute;
    top: -11%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.28em;
    font-weight: bold;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4rem;
    background-color: #272727;
}

#header-title {
    margin: 0;
}

footer {
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #272727;
}

#github-link {
    text-decoration: none;
    color: inherit;
}

#github-link:hover {
    text-decoration: underline;
}
